/.struts.mex
/applicationContext.xml
/applicationMessage.xml
/applicationShopping.xml
/applicationUser.xml
/applicationVideo.xml
/applicationWares.xml
/com
/displaytag.properties
/junit
/log4j.properties
/message.xml
/messageResource_zh_CN.properties
/passage.xml
/placeholder.properties
/shopping.xml
/struts.xml
/user.xml
/video.xml
/wares.xml
